.navbar {
    background-color: rgb(2, 44, 152);
    padding: 10px;
}

.nav-link, .navbar-brand {
    color: white !important;
}

.navbar-nav {
    display: flex;
    gap: 15px;
}

@media (max-width: 992px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        gap: 15px;
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .form-control, .btn {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav .nav-item {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .form-control, .btn {
        width: 100%;
        margin-top: 10px;
    }

    .navbar-collapse {
        text-align: center;
    }
}
